<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.juanfrancisco.blog.chatfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.SingletonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme"
        >
        <activity android:name=".ui.activities.LoginActivity">
            <meta-data
                android:name="DATABASE"
                android:value="chatfina.db" />
            <meta-data
                android:name="VERSION"
                android:value="3" />
            <meta-data
                android:name="QUERY_LOG"
                android:value="true" />
            <meta-data
                android:name="DOMAIN_PACKAGE_NAME"
                android:value="net.juanfrancisco.blog.chatfinal" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".ui.fragments.ListUsersFragment"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.fragments.ChatFragment" />
    </application>

</manifest>